html {
  background-image: url("../image/Tablet.jpg");
}

.page {
  background-color: darkgoldenrod;
  border-radius: 3rem;
  margin: 1rem;
  padding: 1rem;
}

.banner {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blazeCannon {
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  
}

.ancientText {
  color: brown;
  text-align: center;
  font-size: 1rem;
  font-family: 'Permanent Marker', cursive;
}

p::first-letter {
  font-size: 1.2rem;
}

.thyName {
  font-size: 1.2rem;
}

.thyName::first-letter {
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  .ancientText {
    font-size: 1.2rem;
  }

  p::first-letter {
    font-size: 1.6rem;
  }

  .thyName {
    font-size: 1.6rem;
  }
  
  .thyName::first-letter {
    font-size: 1.8rem;
  }

  .page {
    margin: 2rem;
  }
}

@media (min-width: 700px) {
  .ancientText {
    font-size: 1.4rem;
  }

  p::first-letter {
    font-size: 1.8rem;
  }

  .thyName {
    font-size: 1.8rem;
  }
  
  .thyName::first-letter {
    font-size: 2rem;
  }

  .page {
    margin: 2.5rem;
  }
}

@media (min-width: 850px) {
  .ancientText {
    font-size: 1.6rem;
  }

  p::first-letter {
    font-size: 2rem;
  }

  .thyName {
    font-size: 2rem;
  }
  
  .thyName::first-letter {
    font-size: 2.2rem;
  }

  .page {
    margin: 3rem;
  }
}